<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content="{{ eleventy.generator }}">

<link rel="canonical" href="{{ site.url }}">
<link rel="alternate" type="application/atom+xml" href="/feed.xml">

<link
  rel="preload"
  href="/assets/styles/@fontsource/atkinson-hyperlegible/files/atkinson-hyperlegible-latin-400-normal.woff2"
  as="font"
  crossorigin="anonymous"
>
<link
  rel="preload"
  href="/assets/styles/@fontsource/young-serif/files/young-serif-latin-400-normal.woff2"
  as="font"
  crossorigin="anonymous"
>
<link
  rel="preload"
  href="/assets/styles/@fontsource/atkinson-hyperlegible/files/atkinson-hyperlegible-latin-400-italic.woff2"
  as="font"
  crossorigin="anonymous"
>
<link rel="preload" href="/assets/styles/hack-font/fonts/hack-regular-subset.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="/assets/styles/hack-font/fonts/hack-bold-subset.woff2" as="font" crossorigin="anonymous">
<link
  rel="preload"
  href="/assets/styles/@fontsource/atkinson-hyperlegible/files/atkinson-hyperlegible-latin-400-normal.woff2"
  as="font"
  crossorigin="anonymous"
>
<link
  rel="preload"
  href="/assets/styles/@fontsource/young-serif/files/young-serif-latin-400-normal.woff2"
  as="font"
  crossorigin="anonymous"
>
<link
  rel="preload"
  href="/assets/styles/@fontsource/atkinson-hyperlegible/files/atkinson-hyperlegible-latin-400-italic.woff2"
  as="font"
  crossorigin="anonymous"
>
<link rel="preload" href="/assets/styles/hack-font/fonts/hack-regular-subset.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="/assets/styles/hack-font/fonts/hack-bold-subset.woff2" as="font" crossorigin="anonymous">

<link rel="stylesheet" href="/assets/styles/damien.zone.css?v={{ contentHashes.stylesheet }}">
<link
  rel="shortcut icon"
  href="/assets/favicon/damien.png"
>

<title>{% htmlTitle %}</title>
<!-- Primary Meta Tags -->
<meta name="title" content="{% htmlTitle %}">
<meta name="description" content="{{ description | escape }}">

<!-- Open Graph / Facebook -->
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:title" content="{% htmlTitle %}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | htmlBaseUrl: site.url }}">
<meta property="og:description" content="{{ description | escape }}">
{%- openGraphImages -%}

<link rel="canonical" href="{{ page.url | htmlBaseUrl: site.url }}">
<link rel="me" href="https://social.erambert.me/@eramdam">
<link rel="me" href="https://github.com/eramdam">
<meta name="fediverse:creator" content="@eramdam@erambert.me">
<link rel="webmention" href="https://webmention.io/damien.zone/webmention">
<link rel="pingback" href="https://webmention.io/damien.zone/xmlrpc">
